@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0 auto;
    background-image: url(./img/Flowers.jpg);
}

h1 {
    text-align: center;
    font-family: 'Poppins';
}

p {
    text-align: center;
    font-family: 'Poppins';
}

.img {
    display: flex;
    justify-content: center;
    

}

img {
    width: 320px;
    height: 200px;
}



.btn {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Poppins';
    margin-top: 50px;
    background-color: rgb(43, 12, 122);
    color:rgb(15, 113, 133);
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    width: 189px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
}

button:hover {
    background-color: #273880;
    color: #ffffff;
  }

.output{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    font-family: 'Poppins';

}

.div {
    display: flex;
    justify-content: center;

}

a {
    text-decoration: none;
}